body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    color: white;
}
/* *::selection{
    background-color: transparent;
} */

.contenir::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(85, 84, 84);
} 
.contenir::-webkit-scrollbar-track {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
}  
.contenir::-webkit-scrollbar-thumb {
    background: rgb(1, 1, 167);  
    transition: 1s all;
    height: 10px;
}
.contenir::-webkit-scrollbar-thumb:hover {
    cursor: pointer;    
    background: blue; 
}





.contenir{
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    overflow: hidden;
}


.navBarBg{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(10, 115, 180);
    overflow: hidden;
    z-index: 600;
    border-bottom: 1px solid rgba(59, 59, 59, 0.87)
}

.navBarBgLeft{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.navBarBgRight{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.navBarLogo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBarLogoImg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.navBarMenus{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navBarMenuItem{
    width: 22%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
    position: relative;
    z-index: 15;
    transition: 0.2s all;
    overflow: hidden;
}
.navBarMenuItemOwn{
    cursor: default;
    border-radius: 0;
    border-bottom: 3px solid white;
}

.navBarMenuItemNotOwn{
    cursor: pointer;
    border-radius: 10px;
    border-bottom: 3px solid transparent;
    transition: 0.3s all;
}

.navBarMenuItemNotOwn:hover{
    border-bottom: 3px solid rgba(0, 0, 0, 0.438);
    box-shadow:0px 0px 15px 2px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    transition: 0.3s all;
}


.navBarJoinMenu{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBarJoinBtn{
    width: 80%;
    height: 60%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 20000px;
    transition: 0.3s all;
    overflow: hidden;
}
.navBarJoinBtn:hover{
    background-color: white;
    color: rgb(10, 115, 180);
    transition: 0.2s all;
}

.navBarMenuGetSidBarBtnBg{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.navBarMenuGetSidBarBtn{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}





.contentsBarBg{
    width: 100%;
    height: 83.9%;
    display: flex;
    justify-content: start;
    align-items: start;
    overflow: hidden; 
}

.contentsBar_contents{
    width: 85%;
    height: 100%;
    justify-content: start;
    align-items: start;
    overflow-y: auto;
    overflow-x: hidden;
}
.contentsBar_contents::-webkit-scrollbar {
    width: 8px;
    display: none;
} 
.contentsBar_contents::-webkit-scrollbar-track {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
}  
.contentsBar_contents::-webkit-scrollbar-thumb {
    background: black;  
    transition: 1s all;
    height: 10px;
}
.contentsBar_contents::-webkit-scrollbar-thumb:hover {
    cursor: pointer;    
    background: gray; 
}


.contentsBar_contentsTitle{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 20px;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 35px;
    cursor: default;
}
.contentsBar_contentsItems{
    width: 100%;
    height: 100%;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contentsBar_contentsItemCard{
    width: 235px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    margin-right: 20px;
    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.3s all;
}
.contentsBar_contentsItemCard:hover{
    background-color: rgb(228, 228, 228);
    transition: 0.3s all;
}
.contentsBar_contentsItemCard:hover .contentsBar_contentsItemCardImgBg{
    height: 20%;
    transition: 0.2s all;
}
.contentsBar_contentsItemCard:hover .contentsBar_contentsItemCardImg{
    width: 40%;
    margin-top: -50px;
    transition: 0.2s all;
    border-radius: 50%;
}
.contentsBar_contentsItemCard:hover .contentsBar_contentsItemCardElements{
    height: 80%;
    transition: 0.2s all;
}
.contentsBar_contentsItemCardImgBg{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    border-radius: 10px 10px 0 0;
}
.contentsBar_contentsItemCardImg{
    width: 75%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.2s all;
}
.contentsBar_contentsItemCardElements{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.2s all;
    border-radius: 0 0 10px 10px;
}

.contentsBar_contentsItemCardElementTitleText{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: sans-serif;
    cursor: default;
    overflow: hidden;
    text-wrap: wrap;
    text-align: center;
    padding: 5px;
    transition: 0.2s all;
}
.contentsBar_contentsItemCard:hover .contentsBar_contentsItemCardElementTitleText{
    height: 60%;
    font-size: 40px;
    font-weight: 600;
    transition: 0.2s all;
}
.contentsBar_contentsItemCard:hover .contentsBar_contentsItemCardElementBtnBg{
    height: 40%;
    transition: 0.2s all;
    opacity: 1;
}
.contentsBar_contentsItemCardElementBtnBg{
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s all;
}
.contentsBar_contentsItemCardElementTitleTextBtn{
    width: 55%;
    height: 45px;
    background-color: rgb(8, 114, 214);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    transition: 0.2s all;
}
.contentsBar_contentsItemCardElementTitleTextBtn:hover{
    background-color: rgb(8, 173, 214);
    transition: 0.2s all;
}



.contentsBar_SideBar{
    width: 17%;
    height: 100%;
    padding: 0 0 200px 0;
    display: flex;
    overflow: hidden;
    justify-content: start;
    align-items: center;
}
.contentsBar_SideBarCards{
    width: 100%;
    height: 100%;
    background-color: rgb(170, 169, 169);
    overflow-y: auto;
    border-right: 1px solid black;

}
.contentsBar_SideBarBack{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(2px);
    position: absolute;
    display: none;
}

.contentsBar_SideBarCards::-webkit-scrollbar {
    width: 8px;
} 
.contentsBar_SideBarCards::-webkit-scrollbar-track {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
}  
.contentsBar_SideBarCards::-webkit-scrollbar-thumb {
    background: rgb(59, 59, 59);  
    transition: 1s all;
    height: 10px;
}
.contentsBar_SideBarCards::-webkit-scrollbar-thumb:hover {
    background: rgb(39, 37, 37);
}

.contentsBar_SideBarMenuTitle{
    width: 100%;
    height: 64px;
    color: black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    cursor: default;
    overflow: hidden;
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.contentsBar_SideBarMenu{
    width: 100%;
    height: 44px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    font-size: 19px;
    font-family: monospace;
    transition: 0.3s all;

}
.contentsBar_SideBarMenu:hover{
    background-color: rgba(35, 131, 187, 0.742);
    border-color: transparent;
    transition: 0.3s all;
}

.bottomBeforeElement{
    width: 100%;
    height: 64px
}











.footerBarBg{
    width: 100%;
    display: flex;
    min-height: 7.2%;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    font-size: 15px;
    font-family: sans-serif;
    background-color: rgb(20, 20, 20);
    position: sticky;
    bottom: 0;
}
.footerBarContnet{
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    font-size: 15px;
    font-family: sans-serif;
}


@media only screen and (max-width: 1125px) {
    .navBarMenuGetSidBarBtnBg{
        display: flex;
    }

    .contentsBar_SideBar{
        position: absolute;
        z-index: 750;
        top: 0;
        width: 100%;
        display: none;
    }
    .contentsBar_contents{
        width: 100%;
    }
    .contentsBar_SideBarCards{
        width: 50%;
        margin-left: -600px;
        opacity: 0;
        transition: 0.2s all;
        position: relative;
        z-index: 5;
    }
    .contentsBar_SideBarBack{
        display: flex;
    }


    .navBarJoinBtn{
        width: 80%;
        height: 55%;
        font-size: 15px;
        font-weight: 600;
    }
}






@media only screen and (max-width: 700px) {
    .contentsBar_SideBarCards{
        width: 80%;
    }
}
